@import "./../base/variables";
.cloud__projects {
  .cloud__projects__container {
    width: 40%;
    @media screen and (max-width: $medium-screen) {
      width: 60%;
    }
    @media screen and (max-width: $small-screen) {
      width: $container-width-sm;
    }
    .cloud__project {
      background-color: transparent;
      text-align: center;
      padding: 2rem;
      border-radius: 2rem;
      user-select: none;
      .cloud__project__logo {
        width: 8rem;
        aspect-ratio: 1/1;
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        img {
          object-fit: contain;
        }
      }
      .cloud__project__detail {
        color: $color-white;
        font-weight: 300;
        display: block;
        width: 80%;
        margin: 0.8rem auto 0;
        a {
          color: $color-secondary;
        }
        @media screen and (max-width: $small-screen) {
          width: $container-width-sm;
        }
      }
    }
  }
}
